Straudio/DerivedData
Straudio/lib/*
Straudio/include/boost

*.vs
*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcuserdata
*.xcschememanagement.plist
Straudio/build-win
Straudio/ipch/*
Straudio/gui/*

Straudio/Icon?
.DS_Stor*
