<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Straudio</string>
	<key>CFBundleGetInfoString</key>
	<string>Straudio v0.0.16 Copyright 2020 AOFX Inc</string>
	<key>CFBundleIdentifier</key>
	<string>com.AOFX.vst.Straudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Straudio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.16</string>
	<key>CFBundleSignature</key>
	<string>Nvem</string>
	<key>CFBundleVersion</key>
	<string>0.0.16</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
</dict>
</plist>
